.container {
  display: grid;
  gap: var(--gap);
  grid-template-rows: auto 1fr;
  min-width: 10rem;
  height: 100%;
}

.title {
  text-align: center;
}

.tags-container {
  height: 100%;
  overflow: auto;
  display: grid;
  gap: 1rem;
}