.container {
  display: flex;
  border-bottom: 1px solid gray;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--gap) 0;
  padding-bottom: .5rem;
  margin-bottom: var(--gap);
}

.container h3 {
  margin-left: auto;
}